.history
.gitattributes
bmi.py
year.py
ussr_countries_only_modified.csv
info_vis_assignment_data_V2.csv
new_year.py
unique_sport.py
unique_sex_region.py
sext_to_null.py
sext_to_null.py
check_values_after_filling.py
test_small_subset.py
test_small_subset.py