.history
.gitattributes
bmi.py
year.py
ussr_countries_only_modified.csv
info_vis_assignment_data_V2.csv
new_year.py
unique_sport.py
unique_sex_region.py
sext_to_null.py
sext_to_null.py
check_values_after_filling.py
test_small_subset.py
test_small_subset.py
impute_etc.py
from_preview.py
check.py
merge.py
preprocessed_data.csv
check_merged_data.py
check_missing.py
aggregated_metrics.csv
preprocessed_data.csv
check_bmi.py
categorize_sports.py
from_preview.py
unique_sports.py
unique_sex.py
time_data.py
gender_balance.py
new_gender_balance.py
old_stuff/
old_sports_data.csv
gender_to_sport.py
gender_to_sport.py
categorized_sports_new.csv
compare.py
female_to_sport.py
new_categorized_sports_new.csv
new_gender_balance_categorized.csv
categorise_again_sport.py
compare_new_data.py
gender_again.py
info_vis_assignment_with_categories.csv
gender_balance_best_worst.csv
info_vis_assignment_old.csv